// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// user's

// color
$headerDark: #222222;
$orangeLine: #fdb926;
$greenLink: #1ebb90;
$mainFontColor: #444444;
$lightBlue: #f3f7fa;
$borderGrey: #777777;
$darkGreen: #008000;
// other
$shadowBorder: 1px 1px 1px rgba(0,0,0,.2);
$shadowBigBorder: 4px 4px 4px rgba(0,0,0,.2);

// fonts
$mainTitleFont: 'Philosopher', sans-serif;
$mainFont: 'Open Sans', sans-serif;

$up: uppercase;