// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: Philosopher;
    src: url("resources/fonts/Philosopher.otf") format("opentype");
}

body {
    position: relative;
}

#app {
    font-family: $mainFont;
    color: $mainFontColor;
    font-size: 14px;
}

header {
    background-color: $headerDark;
}

.head-container {
    color: #fff;
    // height: 40px;
    padding: 10px 0;
    position: relative;
}

// .headsearch {
//     width: 90%;
// }

// .headsearch-input {
//     width: 90%;
// }

.headsearch__navul {
    list-style: none;
}

#hs-input {
    background-color: $headerDark;
    border: none;
    border-bottom: 2px solid $borderGrey; 
    // color: $borderGrey;
    outline: none;
    line-height: 28px;
    margin-top: 5px;
    margin-right: 10px;
    width: 880px;
    color: #fff;
}

.headsearch-button,
.headback {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 5px;
    padding-left: 10px;
}

.headback, .headback:hover {
    color: #fff;
    text-decoration: none;
}

.elem-hidden {
    visibility: hidden;
}

footer {
    background-color: $headerDark;
    margin-top: 100px;
}

.foot-container {
    min-height: 40px;
    font-size: 12px;
    color: #fff;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    text-decoration: underline;
}

.footer-link:hover {
    color: #fff;
}

.welcome-main {
    // background-attachment: fixed;
    // background: url(img/top_bckgr.jpg) no-repeat 50% 100%;
    // background-size: cover;
}

.welcome-top {
    height: 350px;
    // background-attachment: fixed;
    background: url(img/top_bckgr.jpg) no-repeat 50% 100%;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.welcome-top-maintitle {
    font-size: 70px;
    font-family: $mainTitleFont;
    font-weight: 600;
    text-align: center;
}

.welcome-top-subtitle {
    text-align: center;
}

.welcome-about {
    background-color: #fff;
    padding: 40px 0;
}

.about-items {
    width: 300px;
}

.about-img {
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-image: url(img/top_icon.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.about-img-popular {
    background-position: 0 0;
}

.about-img-online {
    background-position: -209px 0;
}

.about-img-srch {
    background-position: -105px 0;
}

.about-text {
    text-align: center;
    font-size: 16px;
}

.welcome-writers-desc {
    font-size: 16px;
    text-align: justify;
}

.welcome-writers-title,
.welcome-books-title {
    margin-top: 20px;
    font-size: 40px;
}

.welcome-hr {
    width: 300px;
    margin-top: 60px;
    color: #dcdcdc;
}

.writer-item,
.book-item {
    width: 180px;
    background-color: #fff;
    margin-top: 30px;
    box-shadow: $shadowBigBorder;
    transition: 0.2s ease-in-out;
    margin: 30px 10px;
}

.writer-item:hover,
.book-item:hover {
    box-shadow: none;
}

.writer-item-img,
.book-item-img {
    margin: 20px auto;
}

.writer-item-img img,
.book-item-img img {
    width: 133px;
    margin: auto;
}

.writer-item-orangeline,
.book-item-orangeline {
    width: 100%;
    height: 4px;
    background-color: $orangeLine;
}

.writer-item-name,
.book-item-name {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
}

.writer-item-link a,
.book-item-link a{
    text-decoration: none;
}

.item-link-green {
    margin: 10px auto;
    background-color: $greenLink;
    text-transform: uppercase;
    color: #fff;
    padding: 3px 0;
    font-size: 11px;
    border-radius: 2px;
    width: 70px;
    text-align: center;
    box-shadow: $shadowBorder;
    transition: 0.2s ease-in-out;
}

.item-link-green:hover {
    background-color: $darkGreen;
    box-shadow: 0;
}

.book-item-name {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.morebooks {
    margin: 50px auto 15px;
}

.morebooks a,
.morebooks a:hover {
    text-decoration: none;
    color: #fff;
}

.morebooks-btn {
    font-size: 16px; 
    text-transform: uppercase;
    background-color: $greenLink;
    padding: 10px 0;
    width: 200px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
}

.morebooks-btn:hover {
    background-color: $darkGreen;
}

.author-title {
    margin-top: 60px;
    font-size: 32px;
    text-align: center;
}

.author-books-title {
    font-size: 28px;
    text-align: center;
}

.author-portrait {
    width: 300px;
    height: 300px;
    margin: 20px auto 10px;
}

.button-up {
    background-color: $headerDark;
    width: 50px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    right: 50px;
    bottom: -70px;
    border-radius: 8px;
    visibility: hidden;
    transition: 0.8s ease-in-out;
    padding: 12px 12px;
    box-shadow: 0 0 5px black; 
}

a,
a:hover {
    text-decoration: none;
    color: #fff;
}

// getback

.getback {
    position: absolute;
    background-color: $headerDark;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px #dcdcdc;
    top: 80px;
    z-index: 100;
}

@media screen and (max-width: 1200px) {
    #app {
        font-size: 12px;
    }

    #hs-input {
        width: 480px;
    }

    .welcome-top {
        height: 250px;
    }

    .welcome-top-maintitle {
        font-size: 48px;
    }

    .about-text,
    .welcome-writers-desc {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .welcome-top-maintitle {
        font-size: 32px;
    }

    #hs-input {
        width: 280px;
    }

    .welcome-top {
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    #hs-input {
        width: 180px;
    }
}